{% extends "layout.html" %}

{% block main %}
<div class="grid-y grid-padding-y">
    <div class="cell small-1"></div>
    <div class="cell auto">
        <div class="grid-x grid-x-padding">
            <div class="cell small-10 small-offset-1">
                <h1>About</h1>
                <p>Website about tariffs and stuff. Please consider <a href="https://paypal.me/koomz?locale.x=en_US">donating</a>...i'm poor.</p>
                <p>It costs $20/month (CAD) to run this website...well a little under, but the change gets me a beer!</p>
            </div>
        </div>
    </div>
    <div class="small-1">

    </div>
</div>


{% endblock %}