{% extends "layout.html" %}

{% block main %}
<div class="grid-y grid-padding-y">
    <div class="cell small-1"></div>
    <div class="cell small-1">
        <div class="grid-x grid-x-padding">
            <div class="cell small-8 small-offset-2">
                <h1>About</h1>
                
                <h5>Welcome to TariffTank.com</h5>
                <br>
                <p>Hi.</p>
                <p>I've never written an 'about' page before so this won't be the most profound read of your life.</p>
                <p>I work in the shipping/trade/customs industry. A massive part of my day is spent online researching.
                    This website was originally just an abstract idea floating around in my head for years while I used other less user-friendly means to obtain the information I needed, specifically regarding tariff rates and information.</p>
                <p>After about a year of putting it off I finally buckled down in the last month and what you see is the first iteration. In the coming months/years/decades/(centuries?) I plan on further developing to add features that are lit af.</p>
                <p>I should probably start a dev blog so I can take suggestions from the 6 of you that use this website.</p>
                <p>Anyways that's all I got for now. Feel free to <a href="{{url_for('main.contact')}}">contact me</a> with suggestions, criticisms, sarcastic remarks.</p>

                <p>Please consider <a href="https://paypal.me/koomz?locale.x=en_US" target="_blank">donating</a>...i'm poor.</p>
                
                <h5>Komeil Rasekhinejad</h5>
                <p class="subheader">Lead Developer in charge of Everything</p>
                <p><a href="mailto:komeilr@gmail.com">komeilr@gmail.com</a></p>
                <p class="text-right">1/10/2020</p>          
            </div>                 
        </div>
    </div>
</div>


{% endblock %}