{% extends "layout.html" %}
{% from "macros.html" import heading_accordion %}

{% block main %}
<div class="callout">
    <div class="grid-x">
        <div class="cell small-6 align-left">
            <h1>Chapter:<small> "{{chapter}}"</small></h1>
        </div>
        <div class="cell small-6">
            <p class="float-right">hello</p>
        </div>
    </div>
    
    <p>{{headings | length}} headings</p>
</div>

{% for heading in headings %}
{{heading_accordion(heading.gen_tariff_dict())}}

{% endfor %}
{% endblock %}