{% extends "layout.html" %}
{% from "macros.html" import heading_accordion, notes, bookview %}

{% block main %}

<div class="callout">
    <h1>Tariff Heading <small>{{h.heading | format_hs}}</small></h1>
</div>

<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel4" aria-selected="true">Book View</a></li>
    <li class="tabs-title"><a data-tabs-target="panel1" href="#panel1" >Tree View</a></li>
    <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Section Notes</a></li>
    <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Chapter Notes</a></li>
</ul>


<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel" id="panel1">
        <p>{{heading_accordion(h.gen_tariff_dict(), active=True)}}</p>
    </div>
    <div class="tabs-panel" id="panel2">
        <h3>Section {{h.section_notes.number}} - {{h.section_notes.title}}</h3>      

        <div class="grid-x grid-padding-x">
            <div class="cell small-12">
                {{notes(h.section_notes)}}     
            </div>
        </div>  
    </div>

    <div class="tabs-panel" id="panel3">
        <h3>Chapter {{h.chapter_notes.chapter}} - {{h.chapter_notes.title}}</h3>
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 ">
                {{notes(h.chapter_notes)}}     
            </div>
        </div>     
        
    </div>

    <div class="tabs-panel is-active" id="panel4">
        <h3>Book View {{h.heading | format_hs}}</h3>
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 medium-10 medium-offset-1">
                {{bookview(h.book_view_web())}}     
            </div>
        </div>     
    </div>
</div>

{% endblock %}