{% extends "layout.html" %} 
{% block main %}
  
    <div class="grid-y grid-margin-y align-center" style="height:300px;">
        <div class="cell small-2"></div>
        <div class="cell small-2">
            <div class="grid-x align-center">
                <div class="cell small-12 text-center">
                    <h1>500</h1>
                    <i class="material-icons orange big">error_outline</i>
                    <h1 class="subheader">Internal Server Error...Something went wrong</h1>
                </div>
            </div>
        </div>               
    </div>    

{% endblock %}