
.top-bar, .top-bar ul {
    background-color: white;
}

.accordion-title {
    font-size: 1rem;
    border: none;
}

.accordion-content {
    border: none;
}

.submenu-toggle {
    
    left: -25px;
}

.accordion-menu a {
    color: black;
    cursor: auto;
}

.accordion-menu a div div.tariff-link {
    cursor: pointer;
    text-decoration: underline;
    color: #1779ba;
}






