<footer class="footer">
    <div class="grid-y grid-padding-y">
        <div class="cell small-1">

        </div>
        <div class="cell small-5">
            <div class="grid-x grid-padding-x">
                <div class="cell small-4">
                    <ul>
                        <li>link 1</li>
                        <li>link 2</li>
                        <li>link 3</li>
                    </ul>
                </div>
                <div class="cell auto">
                    <ul>
                        <li>link 1</li>
                        <li>link 2</li>
                        <li>link 3</li>
                        <li>link 4</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cell small-1">
            <p>&copy; Copyright 2020 by <a href="#">SexyBeast Inc.</a> TariffTank is powered by <a href="#">trash pandas</a></p>
        </div>
    </div>
</footer>
