
        <div class="grid-y grid-padding-y">
            
            <div class="cell small-5">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-4">
                        <p>.</p>
                    </div>
                </div>
            </div>

            <div><p>&copy; Copyright 2020 <a href="#">TariffTank</a>. <span class="text-right"> TariffTank.com is powered by <a href="https://www.google.com/search?q=trash+panda&rlz=1C1CHBF_enCA703CA703&sxsrf=ACYBGNT_QR2Q0DprqHo8GuzUeufEYiLzjg:1578600758566&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiJhNOLqvfmAhUNTN8KHTcCDP8Q_AUoAXoECBMQAw&biw=1536&bih=700" target="_blank">trash pandas</a></span></p>
            </div>
        </div>
        

