<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- SpectreCSS CDN -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"> -->

    <!-- Foundation -->
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    



    <title>{{title}}</title>
</head>
<body>
    {% include "includes/_navbar.html" ignore missing %}
    
    {% block main %}{% endblock %}
    
    {% block footer %}{% endblock %}


    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/foundation.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/init.js')}}"></script>
    
</body>
</html>