<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Foundation -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <title>{{title | format_hs}}</title>
    
</head>
<body>
    {% from "macros.html" import navbar %}
    <header>
    {{ navbar() }}    
    </header>

    <main>
    {% block main %}{% endblock %}
    </main>        

    <footer class="footer">
    {% include "includes/_footer.html" ignore missing %}
    </footer>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='js/foundation.js')}}"></script>    
    <script src="{{url_for('static', filename='js/init.js')}}"></script>
    <script src="{{url_for('static', filename='js/quicksearch.js')}}"></script>
    {% block tail %}{% endblock %}
    
</body>
</html>