<!-- tariff_info() -->
{% macro tariff_info(tariff_obj) %}

{% if tariff_obj.is_link %}
<a href="{{url_for('ca.tariff_lookup', year=tariff_obj.year, tariff=tariff_obj.tariff)}}" >
{% else %}
<a href="#" >
{% endif %}
    {% if tariff_obj.is_general_description %}
    <h6><em>{{tariff_obj.description}}</em></h6>
</a>
    {% else %}
    <div class="grid-x grid-padding-x align-center">
        
        {% if tariff_obj.tariff | length == 10 %}
        <div class="cell large-2 tariff-link">
        {% else %}
        <div class="cell large-1">
        {% endif %}
            {% if tariff_obj.is_heading %}
            <strong>{{tariff_obj.formatted_hs}}</strong>
            {% else %}
            {{tariff_obj.formatted_hs}}
            {% endif %}
        </div>    

        <div class="cell auto description">
            {% if tariff_obj.is_heading %}
            <strong>{{tariff_obj.description}}</strong>
            {% else %}
            {{tariff_obj.description}}
            {% endif %}
        </div>
    </div>
</a>
    {% endif %}
{% endmacro %}


<!-- heading_accordion() -->
{% macro heading_accordion(tariff_dict) %}
<div class="grid-x grid-padding-x align-center">
    <div class="cell small-10">
        {% for k_0, v_0 in tariff_dict.items() %}
        {% if v_0 is mapping %}
        <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
            <li>{{tariff_info(v_0)}}
            {% for k_1, v_1 in v_0.items() %}
            {% if v_1 is mapping %}
            <ul class="menu vertical nested is-active">
                <li>{{tariff_info(v_1)}}
                {% for k_2, v_2 in v_1.items() %}
                {% if v_2 is mapping %}                
                <ul class="menu vertical nested">
                    <li>{{tariff_info(v_2)}}
                    {% for k_3, v_3 in v_2.items() %}
                    {% if v_3 is mapping %}
                    <ul class="menu vertical nested">
                        <li>{{tariff_info(v_3)}}
                        {% for k_4, v_4 in v_3.items() %}
                        {% if v_4 is mapping %}
                            <li>{{tariff_info(v_4)}}</li>
                        {% endif %}
                        {% endfor %}
                        </li>                  
                    </ul>                    
                    {% endif %}
                    {% endfor %}
                    </li>                
                </ul>                
                {% endif %}
                {% endfor %}            
                </li>
            </ul>                        
            {% endif %}
            {% endfor %}        
            </li>
        </ul>        
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endmacro %}

{% macro notes(note_obj) %}

{% if note_obj.notes %}
<h3>Notes</h3>
<p>{{note_obj.notes }}</p>
{% endif %}
{% if note_obj.subheading_notes %}
<h3>Sub-heading Notes</h3>
<p>{{note_obj.subheading_notes}}</p>
{% endif %}
{% if note_obj.supplemental_notes %}
<h3>Supplemental Notes</h3>
<p>{{note_obj.supplemental_notes}}</p>
{% endif %}
{% if note_obj.statistical_notes %}
<h3>Statistical Notes</h3>
<p>{{note_obj.statistical_notes}}</p>
{% endif %}

{% endmacro %}
